/* Here are some starter styles
You can edit these or replace them entirely 
It's showing you a common way to organise CSS 
And includes solutions to common problems 
As well as useful links to learn more */

/* ====== Design Palette ======
 This is our "design palette".
 It sets out the colours, fonts, styles etc to be used in this design 
 At work, a designer will give these to you based on the corporate brand, but while you are learning
 You can design it yourself if you like
 Inspect the starter design with Devtools
 Click on the colour swatches to see what is happening
 I've put some useful CSS you won't have learned yet
 For you to explore and play with if you are interested
 https://web.dev/articles/min-max-clamp
 https://scrimba.com/learn-css-variables-c026
====== Design Palette ====== */
* {
  box-sizing: border-box;
}
/* Css resets */
*{margin:0; padding:0; box-sizing:border-box;}

:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}
/* ====== Base Elements ======
 General rules for basic HTML elements in any context */
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
  background-color: #212121;
}
a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
}
img,
svg {
  width: 100%;
  object-fit: cover;
}
/* ====== Site Layout ====== 
Setting the overall rules for page regions
https://www.w3.org/WAI/tutorials/page-structure/regions/
*/
main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}
/* ====== Header Start ====== */
.header {
  border-bottom: var(--line);
  margin-bottom: calc(var(--space) * 2);
  background-color: brown;
  text-align: center;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  color: white;
}

.header p {
  margin: 0;
  color: white;
}

/* ====== Header End ====== */

/* ====== Main Content Start ====== */
.main {
  padding: var(--space);
  background-color: #81cc66;
}
.main h2 {
  margin-bottom: var(--space);
  align-self: start;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}


.main p {
  color: black;
  margin-bottom: calc(var(--space) * 2);
  line-height: 1.6;
}

.readme-section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.readme-section a, .wireframe-git-section a {
  background-color: brown;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.main a:hover {
  background-color: darkred;
} 

.readme-section h2 {
  margin-bottom: var(--space);
  color: black;
  font-weight: bold;
}

.readme-section p {
  margin-bottom: calc(var(--space) * 2);
  line-height: 1.6;
  color: black;
  font-size: larger;
}

.wireframe-git-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--space);
  overflow: hidden;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.wireframe-git-section img {
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

.wireframe-git-section article {
  flex: 1;
  margin: 0 var(--space);
}


.wireframe-git-section h2 {
  margin-bottom: var(--space);
  justify-content: start;
  align-items: start;
}

.wireframe-git-section p {
  color: black;
  margin-bottom: calc(var(--space) * 2);
  line-height: 1.6;
  text-align: start;
}


/* ====== Main Content End ====== */

/* ====== Footer Start ====== */
.footer {
  border-top: var(--line);
  background-color: brown;
  width: 100%;
}
.footer p {
  color: white;
  margin: var(--space);
  text-align: center;
}
/* ====== Footer End ====== */
